
doctype html
head
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Filter Form
br
p#events
script
	include filter.js
form#myForm()
	select#selectNumber(name='plswork', onchange='updateFilter(event)')
		option.events(id=0) All Events
		for elem,ind in events
			if elem === currentEvent
				option.events(id= ind + 1 selected)= elem
			else
				option.events(id= ind + 1)= elem
