doctype html
html(lang="en")
	head
		title Elite Journal
		meta(charset='UTF-8')
		meta(name="theme-color" content="#00d1b2")
		meta(name='author', content='Willyb321')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style
			include node_modules/bulma/css/bulma.css
			include css/index.css
	body
		block content
