extends layout
block content
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title Elite Journal
				h2.subtitle The good stuff
	if data
		.container.is-fluid
			for elem,ind in data
				hr
				table.table.centerit
					tr.tr
						th(style="text-align: center;")= elem.event
					tr
						td!= tabled[ind]
	script
		include render.js
