extends layout
block content
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title Elite Journal
				h2.subtitle The good stuff
	if data
		.container.is-fluid
			if filterLog
				webview#filterView(src="data:text/html," + filterLog, style='float:right; width:15%; height:480px; display:inline-block; position:fixed; right:0; z-index:11111111;' nodeintegration)
			for elem,ind in data
				hr
				table.table.centerit
					tr.tr
						th(style="text-align: center;")= elem.event
					tr
						td!= tabled[ind]
	script
		include render.js
